{% extends 'main.html' %}
{% block head %}Contact {% endblock%}


{% block body %}
<section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2>

                <div class="contact__container bd-grid">
                    <form action="/" class="contact__form" method="post">
                        <input type="text" placeholder="Name" class="contact__input" name="name">
                        <input type="email" placeholder="Email" class="contact__input" name="email">
                        <textarea name="message" id="" cols="0" rows="10" class="contact__input" placeholder="Message..."></textarea>
                        <input type="button" value="Sent" class="contact__button button">

                    </form>
                </div>
            </section>{% endblock %}